<header>
    <nav>
        <button id="btn-menu" aria-label="Abrir Menu" (click)="toggleMenu()">
            <span class="linha"></span>
            <span class="linha"></span>
            <span class="linha"></span>
        </button>
        <div id="overlay" class="overlay"></div>
        <div id="menuModal" class="modal">
            <div class="modal-conteudo">
                <img class="logoFord" src="ford.png" alt="">
                <a href="/home">Home</a>
                <a href="/dashboard">Dashboard</a>
            </div>
        </div>
    </nav>
    <div class="logOutContainer">
        <a href=""><img class="logOut" src="desligar.png" alt=""></a>
    </div>
</header>

<body>
    <script src="script.js"></script>

    <div class="caixa-boas-vindas" id="boasVindas" >
        <button class="fechar" (click)="fecharBoasVindas()">×</button>
        <h1>Sistema de dados FORD</h1>
        <p>Seja bem vindo(a)!</p>
    </div>
</body>



